.App {
  text-align: center;
  margin-top: 85px;
}


/* custom changes */
/* text  */
h3 span, h5 span{
  color: var(--accentdark);
}
.h3Title{
  color: var(--imptext);
  text-align: center;
  margin-bottom: 15px;
  font-size: 45px;
}
.h5Time{
  background-color: #baf2ff53;
  border-radius: 10px;
  text-align: center;
  margin-left: 40%;
  margin-right: 40%;
  font-size: 20px;
  padding: 5px;
}
.h3Content{
  text-align: center;
  font-size: 30px;
}

/* modal  */
.btn{
  border-radius: 10px;
}
.formContent{
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
  color: var(--gray);
  border: 1px solid var(--black);
  background: #fff;
  border: 1px solid var(--accent);
  width: 20%;

  font-weight: 600;
  resize: none;
  transition: 0.3s;
}
.formContent:focus{
  outline: none;
  color: var(--imptext);
  border: 2px solid var(--accent);
  background: var(--accentdim2);
  box-shadow: var(--shadowsmall);
  user-select: all;
  transition: 0.3s;
}
.btn{
  font-weight: 600;
}
